/* Moderní box model - nastavená šířka boxu je včetně paddingu a borderu */
html {
  height: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(/img/background.svg);
  /*background-color: #f8fcff;*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #121212;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

a {
  color: #121212;
}

@media only screen and (min-width: 300px) {
  /* Hlavička*/
  .header {
    background-repeat: no-repeat;
    display: flex;
    height: 100px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header-name {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 3px;
    text-transform: lowercase;
  }

  /* Hlavní menu */
  .menu__ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .menu .menu__ul--unactive {
    padding: 15px;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }

  .menu__ul--unactive:hover {
    color: #ff0044;
  }

  .hero-box {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-box__description {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*text-shadow: 3px 3px 10px #f5f5f5;*/
  }

  .hero-box__description--coloured {
    color: #ff0044;
    text-shadow: none;
    font-weight: bold;
  }

  /* Patička */
  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer__description {
    font-size: 12px;
  }

  /* UX.html */

  .case_studies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  .project {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .introduction__header {
    margin-top: 100px;
    font-family: 'Nanum Myeongjo', serif;
    color: #ffbd59;
  }

  .introduction__description {
    font-size: 16px;
  }

  .square_01 {
    margin-top: 40px;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #121212;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 10px 10px 15px #9a9a9a9d;*/
  }

  .square_02 {
    margin-top: 40px;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #121212;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*box-shadow: 10px 10px 15px #9a9a9a9d;*/
  }

  .project__description {
    margin-bottom: 40px;
    text-decoration: none;
    color: #121212;
    text-transform: lowercase;
    text-align: left;
  }

  .project__description--02 {
    margin-bottom: 40px;
    text-decoration: none;
    color: #121212;
    text-transform: lowercase;
    text-align: left;
  }

  .project__description:hover {
    color: #ff0044;
  }

  /*O mně*/

  .about {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .about__description {
    font-size: 16px;
  }

  /*Kontakt*/

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    height: 75vh;
  }

  .contact__header {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    color: #ffbd59;
  }

  .contact__email {
    margin-top: 20px;
    font-size: 16px;
  }

  .contact__phone {
    font-size: 16px;
  }
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 16px;
  }

  /* Hlavička*/
  .header {
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  .header-name {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0px;
    text-decoration: none;
    float: left;
    letter-spacing: 2px;
    text-transform: lowercase;
  }

  /* Hlavní menu */

  .menu__ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .menu .menu__ul--unactive {
    padding: 15px;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }

  .menu__ul--unactive:hover {
    color: #ff0044;
  }

  .hero-box {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .hero-box__description {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*text-shadow: 3px 3px 10px #f5f5f5;*/
  }
  .hero-box__description--coloured {
    /*color: #ff0044;*/
    color: #ff0044;
    text-shadow: none;
    font-weight: bold;
  }

  /* Patička */
  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer__description {
    font-size: 12px;
  }

  /* UX.html */

  .case_studies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .introduction__header {
    font-family: 'Nanum Myeongjo', serif;
    color: #ffbd59;
  }

  .square_01 {
    margin-top: 40px;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: #121212;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .square_02 {
    margin-top: 40px;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: #121212;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project__description {
    margin-bottom: 40px;
    text-decoration: none;
    color: #121212;
    text-transform: lowercase;
    text-align: left;
  }

  .project__description--02 {
    margin-bottom: 40px;
    text-decoration: none;
    color: #121212;
    text-transform: lowercase;
    text-align: left;
  }

  .project__description:hover {
    color: #ff0044;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    height: 75vh;
  }

  .contact__header {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    color: #ffbd59;
  }

  .contact__email {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1020px) {
  body {
    font-size: 14px;
  }

  /* Hlavička*/
  .header {
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  .header-name {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0px;
    text-decoration: none;
    float: left;
    letter-spacing: 2px;
    text-transform: lowercase;
  }

  /* Hlavní menu */

  .menu__ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .menu .menu__ul--unactive {
    padding: 15px;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
  }

  .menu__ul--unactive:hover {
    color: #ff0044;
  }

  .hero-box {
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .hero-box__description {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*text-shadow: 3px 3px 10px #f5f5f5;*/
  }

  .hero-box__description--coloured {
    /*color: #ff0044;*/
    color: #ff0044;
    text-shadow: none;
    font-weight: bold;
  }

  /* Patička */
  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer__description {
    font-size: 12px;
  }

  /* UX.html */

  .case_studies {
    display: block;
    margin-left: 50px;
  }

  .project {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .introduction__header {
    font-size: 60px;
    margin-left: 0;
  }

  .square_01 {
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: #121212;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .square_02 {
    width: 500px;
    height: 500px;
    border-style: solid;
    border-color: #121212;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project__description {
    font-family: 'Nanum Myeongjo';
    text-decoration: none;
    color: #121212;
    text-transform: lowercase;
    text-align: left;
  }

  .project__description--02 {
    font-family: 'Nanum Myeongjo', serif;
    text-decoration: none;
    color: #121212;
    text-transform: lowercase;
    text-align: left;
  }

  .project__description:hover {
    color: #ff0044;
  }

  .project__description--02:hover {
    color: #ff0044;
  }

  /*Case study*/

  .casestudyone {
    margin-left: 150px;
    margin-top: 50px;
  }

  .casestudyone__title {
    font-size: 60px;
    font-family: 'Nanum Myeongjo', serif;
    color: #ffbd59;
  }

  .casestudyone__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project__overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }

  .project__overview--problem {
    font-size: 20px;
    font-style: italic;
    margin-top: 35px;
    color: #ff0044;
  }

  .design-proces {
    margin-top: 80px;
  }

  .design-proces__stages {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
  }

  .user-research {
    margin-top: 80px;
  }

  /*O mně*/

  .about {
    display: flex;
    justify-content: space-between;
    margin: 40px;
  }

  .about__description {
    font-size: 15px;
    padding-left: 100px;
    padding-right: 100px;
  }

  img {
    width: 400px;
    margin-right: 140px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    height: 75vh;
  }

  .contact__header {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    color: #ffbd59;
  }

  .contact__email {
    margin-top: 20px;
    font-size: 16px;
  }

  .contact__phone {
    font-size: 16px;
  }
}
