/* Moderní box model - nastavená šířka boxu je včetně paddingu a borderu */
html {
  height: 100%;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(255, 160, 187), rgb(181, 244, 255));
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media only screen and (max-width: 640px) {
  /* Index.html */

  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
  }

  /* Hlavička*/
  .header {
    background-repeat: no-repeat;
    display: flex;
    height: 100px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header-name {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    text-align: center;
    letter-spacing: 3px;
    text-transform: lowercase;
  }

  /* Hlavní menu */
  .menu__ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .menu .menu__ul--unactive {
    padding: 15px;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
    color: black;
  }

  .header__ul--unactive:hover {
    color: #ff0044;
  }

  .hero-box {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-box__description {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*text-shadow: 3px 3px 10px #f5f5f5;*/
  }

  .hero-box__description--coloured {
    color: #ffbf00;
    text-shadow: none;
    font-weight: bold;
  }

  /* Patička */
  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer__description {
    font-size: 12px;
  }

  /* UX.html */

  .square {
    width: 300px;
    height: 300px;
    background-color: #ff0044;
  }

  .project__description {
    position: absolute;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .contact {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    line-height: 1.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
  }

  /* Hlavička*/
  .header {
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
  }

  .header-name {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    float: left;
    letter-spacing: 2px;
    text-transform: lowercase;
  }

  .header-name__info {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    float: center;
    letter-spacing: 2px;
  }

  /* Hlavní menu */

  .menu__ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .menu .menu__ul--unactive {
    padding: 15px;
    font-size: 16px;
    font-style: normal;
    text-decoration: none;
    text-transform: lowercase;
    color: black;
  }

  .header__ul--unactive:hover {
    color: #ff0044;
  }

  .hero-box {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .hero-box__description {
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 5px;
    /*text-shadow: 3px 3px 10px #f5f5f5;*/
    color: black;
  }
  .hero-box__description--coloured {
    color: #ff0044;
    text-shadow: none;
    font-weight: bold;
  }

  /* Patička */
  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .footer__description {
    font-size: 12px;
  }

  /* Fotografie.html */

  .gallery__grid {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .gallery__photo {
    max-width: 100%;
  }

  /* UX.html */

  .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;

    margin-left: 50px;
  }

  .project__description {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .project__link {
    text-decoration: none;
  }

  .project__image {
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .contact {
    display: flex;
    height: 70vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
