<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title }}</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet"/>
    
    <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Nanum+Myeongjo&display=swap" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">

    <!-- CSS styl -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <!-- Hlavička stránky -->
    <header class="header">
      <a class="header-name" href="/">markéta hájková <br>UX & UI designer junior</a>
      <nav class="menu">
        <ul class="menu__ul">
          <li><a class="menu__ul--unactive" href="/ux/">ux</a></li>
          <!--<li><a class="menu__ul--unactive" href="/grafika/">grafika</a></li>-->
          <!--<li>
            <a class="menu__ul--unactive" href="/fotografie/">fotografie</a>
          </li>-->
           
          <li><a class="menu__ul--unactive" href="/about/">o mně</a></li>
          <li><a class="menu__ul--unactive" href="/zivotopis/">životopis</a></li>
          <li><a class="menu__ul--unactive" href="/kontakt/">kontakt</a></li>
        </ul>
      </nav>
    </header>
    
    <main class="main">
    {{ content | safe }}
    </main>

    <!-- Patička stránky -->
    <div class="footer">
      <footer>
        <p class="footer__description">
          2023 made by Markéta Hájková
        </p>
      </footer>
    </div>
  </body>
</html>